<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Add Donut</a></li>
</ol>

<br/>
<%- partial ('partials/statusmessage.ejs') %>

<h2>Add Donut</h2>
<form action="/create" method="POST" class="form-horizontal">
  <div class="form-group">
    <label for="flavor" class="col-sm-2 control-label">Flavor</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="flavor" name="flavor" placeholder="Donut Flavor">
    </div>
  </div>
  <div class="form-group">
    <label for="frosting" class="col-sm-2 control-label">Frosting</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="frosting" name="frosting" placeholder="frosting">
    </div>
  </div>
  <div class="form-group">
    <label for="extras" class="col-sm-2 control-label">Extras</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="extras" name="extras" placeholder="Toppings for the donut">
    </div>
  </div>
  <div class="form-group">
    <label for="inStock" class="col-sm-2 control-label">In Stock</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inStock" name="inStock" placeholder="True or False">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Add Employee</button>
    </div>
  </div>
</form>